{% extends 'base.html' %}

{% block content %}

    <style>

        body {
            background-color: #f4f7ff;
            margin: 12px;
        }

        h1, h2, h3, h4, h5, p, th, td, a, button {
            font-family: 'Poppins', sans-serif;
        }
        
        .navbar{
        position: sticky;
        top: 0;
        padding: 16px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
        margin-bottom: 20px;
        background-color: rgba(255, 255, 255, 0.5);
        }

        .navbar img {
            max-height: 28px;
            padding-right: 20px;
            
        }

        .navbar-brand {
            color: #76797b;
            font-weight: 500;
            font-size: 16x;
        }


        .navbar .navbar-nav .nav-item {
            margin-right: 10px; /* Mengatur jarak antar item */
            padding-top: 3px;
            padding-bottom: 3px;
        }

        .navbar .navbar-nav .nav-item-active{
            background: #4161ff20; ;
            border-radius: 99px; 
            padding-left: 20px;
            padding-right: 20px;
            margin-left: 20px;
            margin-right: 20px;
            padding-top: 3px;
            padding-bottom: 3px;
            color: #4162FF;
            font-weight: 600;
        }
        
        .content-container {
            display: flex;
            flex-direction: column; 
            align-items: center;
            min-height: 0;
            text-align: center;
            margin-bottom: 5px;
        }

        .text-center {
            text-align: center;
            margin-bottom: 2px
        }
        
        .banner {
        max-width: 100%;
        height: auto;
        margin-bottom: 50px; 
        }

        table {
            border-collapse: collapse;
            width: 100%;
            margin-top: 20px;
            background-color: #4162FF; 
            border-radius: 20px 20px 20px 20px; 
            margin-bottom: 20px
        }

        table tr:last-child td {
            background-color: #d7e3ef; 
            color: #160323; 
            font-weight: 500; 
        }

        th {
            border: 1px solid #ffffff;
            padding: 16px; 
            text-align: left;
            color: #fff; 
            font-size: 18px; 
        }

        td {
            border: 1px solid #ffffff;
            padding: 12px;
            text-align: left;
            background-color: #EEF4FB; 
            color: #060a21; 
            line-height: 150%;
        }

        td.description {
            max-width: 400px; 
            overflow-y: auto;
        }

        .center-text {
            text-align: center;
        }

        .card-container {
            margin-top: 8px;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
            flex-wrap: nowrap; 
            justify-content: flex-start; 
            gap: 5px;
            overflow-x: auto; 
            justify-items: center; 
            align-items: center;
            justify-content: center;
            margin: 28px;
        }
        .card {
            background-color: #ffffff;
            margin: 12px;
            border-radius: 24px;
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0);
            display: flex; 
            flex-direction: column; 
            align-items: center; 
            margin-bottom: 16px;
            width:100%;
            min-width: 420px;
        }

            @media (min-width: 768px) {
            .card-container {
                grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
                justify-content: center;
            }
        }

            @media (min-width: 1200px) {
            .card-container {
                grid-template-columns: repeat(auto-fill, minmax(420px, 1fr)); 
                justify-content: center;
            }
        } 

            @media (min-width: 2400px) {
                .card-container {
                    grid-template-columns: repeat(auto-fill, minmax(420px, 1fr)); 
                    justify-content: center;
                }
            } 

        .card img {
            max-width: 100%;
            border-radius: 24px;
            height: auto;
        }

        .card-content {
            padding: 10px; 
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .card-content h4 {
            font-size: 18px;
            margin: 5px 0; 
        }

        .card-content p {
            font-size: 14px;
            margin: 5px 0; 
        }

        
        .card-grid {
            display: flex;
            flex-direction: row; 
            flex-wrap: nowrap; 
            justify-content: flex-start; 
            gap: 20px; 
            overflow-x: auto; 
            white-space: nowrap; 
        }

        .add-product-button {
            display: inline-flex;
            height: 48px;
            padding: 4px 16px;
            justify-content: center;
            align-items: center;
            gap: 8px;
            border-radius: 12px;
            background: var(--primary-blue, #4162FF);
            color: #fff;
            text-decoration: none;
            border: none;
            cursor: pointer; 
        }

        .add-amount-button{
            background: var(--primary-blue, #4161ff1f);
            color:#4162FF;
            padding: 20px 0px;
            margin:4px;
            border-radius: 1000px;
        }

        .logout-button {
            background-color: #ff1d1d; 
            width:96px
        }

        .action-buttons {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            width: 100%; 
            
        }

        .action-buttons a {
            width: 100%;
        }

        .svg-button {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 12px;
            background-color: var(--primary-red, #ff1d1d);
            color: #fff;
            text-decoration: none;
            border: none;
            cursor: pointer;
            height: 48px;
            padding: 4px 16px;
            min-width: 56px;
        }

        .color-gray{
            color:#76797b;
        }
        
        .action-gap{
            padding: 12px;
        }

        @media (max-width: 768px) {
            .card {
                width: calc(50% - 20px); 
            }
        }

        @media (min-width: 769px) {
            .card {
                width: calc(33.33% - 20px); 
            }
        }

        .text-title{
            font-weight: 700;
            font-size: 28px;
        }

        .text-title-semi{
            font-weight: 600;
            font-size:28px;
        }

        .amount-img {
            max-height: 28px;
            max-width: 28px;
            
        }

    </style>
    

<div class="navbar navbar-expand-lg bg-white">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand d-none d-lg-block" href="#">🛒🎨</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav">
                <li class="nav-item-active">
                    <a class="nav-link" style="color: #4162FF;" href="{% url 'main:login' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://awekadesign.com/"  target="_blank" rel="noopener noreferrer">My Website</a>
                </li>
            </ul>
        </div>
        <a class="nav-link" style="color: #4162FF; font-weight: 600; padding-right: 20px;" href="{% url 'main:create_product' %}">Make Product</a>

        <div class="ml-auto"> 
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="bi bi-person-circle"></i> {{ name }}, {{ class }}
                </a>
                <div class="dropdown-menu" aria-labelledby="profileDropdown">
                    <a class="dropdown-item" href="https://www.linkedin.com/in/aryawijaya/ " target="_blank" rel="noopener noreferrer" >Profile</a>
                    <a class="dropdown-item" href="{% url 'main:logout' %}">Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content-container">
    <img class="banner" alt="Banner " src="https://user-images.githubusercontent.com/119391657/270735230-a8b5cf60-8116-418d-b8f9-abb976d4bc01.png" loading="lazy">
    <h1 class="text-title">🖼️ 👨🏻‍🎨 List of Art 🎨 🔥</h1>

</div>


    <div class="card-container">
        {% for product in products %}
        <div class="card border-0" style="padding: 10px;  padding-bottom: 30px;" >
            <img class="card-img" src={{product.image_url}} alt="Product Image">
            <h3 style="margin: 20px 0px; font-size: 24px; font-weight: 700;" >{{product.name}}</h4>
            <p style="margin: 0px 8px; font-size:16px; font-weight: 500" >By: {{product.artist}}</p>
        </div>
        {% endfor %}
    </div>

    <div class="text-center">
        <h2 class="total text-title-semi" style="padding-top: 28px; padding-bottom: 12px;">Anda telah membuat karya sebanyak: {{total}} karya 🎨🖼️</h2>
    </div>

    <table>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Date Added</th>
            <th>Amount</th>
            <th>Actions</th>
        </tr>
    
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td class="center-text" > ${{ product.price }}</td>
                <td class="description" >{{ product.description }}</td>
                <td class="center-text" >{{ product.date_added }}</td>
                <td class="center-text action-row" >
                    <div class = "action-buttons ">
                        <a href="{% url 'main:decrease_product_amount' product.id 1 %}" class="add-product-button add-amount-button">
                            <img class="amount-img" src="https://user-images.githubusercontent.com/119391657/271369281-5bed9a9f-af4f-4278-b7ef-d9bb22694678.png" >
                        </a>

                        {{ product.amount }}

                        <a href="{% url 'main:increase_product_amount' product.id 1 %}" class="add-product-button add-amount-button">
                            <img class="amount-img" src="https://user-images.githubusercontent.com/119391657/271369291-047353e6-0659-40b5-8032-225335c346b1.png">
                              
                        </a>

                    </div>
                    
                </td>
                <td class="action-row"> 
                    <div class="action-buttons ">
                        <a href="{% url 'main:edit_product' product.pk %}" class="add-product-button">
                                Edit

                        <a href="{% url 'main:remove_product' product.id %}" class="add-product-button svg-button">
                            <img src="https://svgur.com/i/xtJ.svg" alt="SVG Image">
                        </a>

                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>
    <br />
    
    <h4>Sesi terakhir login: {{ last_login }} </h4>

    <a href="{% url 'main:logout' %}" class=" add-product-button logout-button">
        Logout
    </a>

    <a href="{% url 'main:create_product' %}" class="add-product-button ">
        Add New Product
    </a>

{% endblock content %}