{% extends 'base.html' %}

{% block content %}

    <style>

        body {
            background-color: #f4f7ff;
        }

        h1, h2, h3, h4, h5, p, th, td, a, button {
            font-family: 'Poppins', sans-serif;
        }
        
        .navbar {
            position: sticky;
            top: 0;
            background-color: #ffffff;
            padding: 16px 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 100; 
            margin-bottom: 20px;
        }

        .navbar img {
            max-height: 28px;
            
        }

        .content-container {
            display: flex;
            flex-direction: column; 
            align-items: center;
            min-height: 0;
            text-align: center;
            margin-bottom: 5px;
        }

        
        .banner {
        max-width: 100%;
        height: auto;
        margin-bottom: 50px; 
        }

        table {
            border-collapse: collapse;
            width: 100%;
            margin-top: 20px;
            background-color: #4162FF; 
            border-radius: 20px 20px 20px 20px; 
            margin-bottom: 20px
        }

        th {
            border: 1px solid #ffffff;
            padding: 16px; 
            text-align: left;
            color: #fff; 
            font-size: 18px; 
        }

        td {
            border: 1px solid #ffffff;
            padding: 12px;
            text-align: left;
            background-color: #EEF4FB; 
            color: #060a21; 
            line-height: 150%;
        }

        td.description {
            max-width: 400px; 
            overflow-y: auto;
        }


        

        .card-container {
            display: flex;
            flex-wrap: nowrap; 
            justify-content: flex-start; 
            gap: 20px;
            overflow-x: auto; 
            white-space: nowrap; 
        }

        .card {
            background-color: #ffffff;
            margin: 10px;
            width: 300px; 
            border-radius: 24px;
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0);
            display: flex; 
            flex-direction: column; 
            align-items: center; 
            margin-bottom: 28px
        }
        .card img {
            max-width: 100%;
            border-radius: 24px;
            height: auto;
        }

        .card-content {
            padding: 10px; 
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .card-content h4 {
            font-size: 18px;
            margin: 5px 0; 
        }

        .card-content p {
            font-size: 14px;
            margin: 5px 0; 
        }

        
        .card-grid {
            display: flex;
            flex-direction: row; 
            flex-wrap: nowrap; 
            justify-content: flex-start; 
            gap: 20px; 
            overflow-x: auto; 
            white-space: nowrap; 
        }

    
    @media (max-width: 768px) {
        .card {
            width: calc(50% - 20px); 
        }
    }

    @media (min-width: 769px) {
        .card {
            width: calc(33.33% - 20px); 
        }
    }

    .add-product-button {
        display: inline-flex;
        height: 48px;
        padding: 4px 16px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 12px;
        background: var(--primary-blue, #4162FF);
        color: #fff;
        text-decoration: none;
        border: none;
        cursor: pointer; 
    }

</style>


<div class="navbar">
    <img src="https://github.com/aryawijayak/shopping-art/assets/119391657/7ea7f648-a457-4e65-a45f-f90796663489" alt="Logo">
</div>

<div class="content-container">
    <img class="banner" alt="Banner " src="https://github.com/aryawijayak/shopping-art/assets/119391657/ad49e318-ba6a-4497-ba5c-3e730b5d2816">
    <h1>🖼️ 👨🏻‍🎨 List of Art 🎨 🔥</h1>

</div>
    
    <div class="card-container">
        
        <div class="card" style="padding: 10px;  padding-bottom: 30px;" >
            <img src="https://cdn.dribbble.com/userupload/8813859/file/original-5aaa38cef195cbef7eedef1bce610fe8.png?resize=1024x768" alt="Product Image">
            <h3 style="margin: 20px 0px;" >{{karya1}}</h4>
            <p style="margin: 0px 12px;" >By: {{artist1}}</p>
        </div>
    
        <div class="card" style="padding: 10px;  padding-bottom: 30px;" >
            <img src="https://cdn.dribbble.com/userupload/9066480/file/original-2cb5edb4b745e403bc2945073373875e.png?resize=1024x768" alt="Product Image">
            <h3 style="margin: 20px 0px;" >{{karya2}}</h4>
            <p style="margin: 0px 12px;" >By: {{artist2}}</p>
        </div>
    
        <div class="card" style="padding: 10px;  padding-bottom: 30px;" >
            <img src="https://cdn.dribbble.com/userupload/9395640/file/original-ece970185fd4a0e4e99f817ccb0e94eb.png?resize=1024x768" alt="Product Image">
            <h3 style="margin: 20px 0px;" >{{karya3}}</h4>
            <p style="margin: 0px 12px;" >By: {{artist3}}</p>
        </div>
    </div>
    

    <table>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Date Added</th>
        </tr>
    
        {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}
    
        {% for product in products %}
            <tr>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td class="description">{{ product.description }}</td>
                <td>{{product.date_added}}</td>
            </tr>
        {% endfor %}
    </table>
    
    <br />
    
    <a href="{% url 'main:create_product' %}" class="add-product-button">
        Add New Product
    </a>
    
{% endblock content %}