{% extends 'base.html' %}

{% block meta %}
    <title>Register</title>
{% endblock meta %}

{% block content %}  

<style>
    body {
        background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/089d21ad-7782-4104-89c2-a65435feaa61/d9dbds5-953028f0-861a-4db8-9b6f-91162fe1959d.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzA4OWQyMWFkLTc3ODItNDEwNC04OWMyLWE2NTQzNWZlYWE2MVwvZDlkYmRzNS05NTMwMjhmMC04NjFhLTRkYjgtOWI2Zi05MTE2MmZlMTk1OWQuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.V4cjYqRZbpYo5gZ_cXGMswU-GI-vp3KNKuVhEjE6Clw'); /* Gantilah 'path-to-your-image' dengan path ke gambar GIF Anda */
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        position: relative; 
    }

    .login-card h1,
    .login-card label,
    .login-card a {
        font-family: 'Poppins', sans-serif;
        color: rgb(19, 10, 54);
    }

    .login-card a {
        font-family: 'Poppins', sans-serif;
        color: #4162FF;
        text-decoration: underline; 
    }

    .text-titile{
        font-size: 32px;
    }

    .register-card {
        text-align: center;
        background-color: #ffffffbb;
        border-radius: 32px;
        padding: 30px;
        width: 400px;
        text-align: left;
        padding-top: 50px;
        backdrop-filter: blur(6px);
        border: 2px solid rgba(255, 255, 255, 0.439); 
    }

    .register-card h1 {
        font-family: 'Poppins', sans-serif;
    }

    .register-card form {
        font-family: 'Poppins', sans-serif;
        margin-top: 20px; 
    }

    .register-card input[type="text"],
    .register-card input[type="password"] {
        font-family: 'Poppins', sans-serif;
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 6px;
        box-sizing: border-box;
        font-size: 16px;
    }

    .register-card .form-group {
        margin-bottom: 24px;
    }

    .register-card .form-group label {
        font-family: 'Poppins', sans-serif;
        margin-bottom: 8px;
        text-align: left;
        display: block; 
    }

    .register-card .add-product-button {
        font-size: 18px;
        display: inline-flex;
        height: 56px;
        padding: 8px 48px;
        justify-content: center;
        align-items: center;
        gap: 16px;
        border-radius: 16px;
        background: var(--primary-blue, #4162FF);
        color: #fff;
        text-decoration: none;
        border: none;
        cursor: pointer;
    }

    .logo-image {
        max-width: 100px;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    .left-align {
    text-align: left;
    }

    .center-align {
    text-align: center;
    }

   .password{
        text-align: center;
    }
    .padding-top{
        padding-top: 20px;
    }
    
</style>

<div class = "register-card">
    <img src="https://user-images.githubusercontent.com/119391657/270732366-2e835f39-83cc-43de-b22b-df914ade0c93.png" alt="Logo" class="logo-image">
    <h1 class="center-align" >Register</h1>  
    
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.username.id_for_label }}">Username</label>
                {{ form.username }}
                <p class="left-align">{{ form.username.help_text }}</p>
            </div>

            <div class="form-group">
                <label for="{{ form.password1.id_for_label }}">Password</label>
                {{ form.password1 }}
                <p class="left-align">{{ form.password1.help_text }}</p>
            </div>

            <div class="form-group">
                <label for="{{ form.password2.id_for_label }}">Confirm Password</label>
                {{ form.password2 }}
                <p class="left-align">{{ form.password2.help_text }}</p>
            </div>

            <div class="center-align">
                <input type="submit" name="submit" value="Daftar" class="add-product-button">
            </div>

            <div class="center-align padding-top">
                Back to Login? <a href="{% url 'main:login' %}">Login</a>
            </div>
            
        </form>
        
    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}

</div>  

{% endblock content %}